* {
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #222831; */
  padding: 20px;
}

.app_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}


.app_stats {
  display: flex;
  justify-content: space-between;
}

.app_left {
  flex: 0.9
}

.app_right {
  /* background-color: #233142 !important; */
  display: flex;
  flex-direction: column;
}

.MuiFormControl-root {
  /* background-color: #233142; */
  box-shadow: 2px 3px 6px;
}

.MuiInputBase-root {
  /* color: #ddd; */
}

.app_dropdown > div .MuiSelect-icon {
  /* color: #ddd; */
}

@media (max-width: 990px){
  .app {
    flex-direction: column;
  }
}